@import '_normalize';
@import '_reset';
@import '_variables';

body {
  height: 100vh;
}

header {
  background-color: $white;
  width: 50%;
  height: 100%;
  padding: 10vh 0 72px 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $red;

  h1 {
    font-size: 75px;
  }

  h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  h3, p {
    width: 80%;
  }

  p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 40px;
  }

  nav {
    width: 80%;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: 10px;
        font-size: 20px;
        color: #111;
        opacity: 0.5;
        border-bottom: 2px solid rgba(0, 0, 0, 0.9);
        padding-bottom: 5px;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
