@import '_normalize';
@import '_reset';
@import '_variables';

body {
  height: 100vh;
  background-color: $white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  width: $fixedWidth;
  height: 100%;
  padding: 10vh 0 72px 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $red;

  h1 {
    font-size: 85px;
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  h3, p {
    width: 70%;
    line-height: 1.2;
    text-align: justify;
  }

  p {
    line-height: 1.2;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 40px;
  }

  nav {
    width: 80%;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: 12px;
        font-size: 20px;
        color: #111;
        opacity: 0.5;
        border-bottom: 2px solid rgba(0, 0, 0, 0.9);
        padding-bottom: 5px;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

main {
  z-index: 10;
  background-color: $white;
  margin-left: $fixedWidth;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;


    .wrapper {
      width: 100%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      

      .item__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: $red;
        margin-bottom: 25px;
        width: 100%;
        max-width: 80%;

        h4 {
          font-size: 32px;
          font-weight: 500;
          text-transform: uppercase;
        }

        h5 {
          letter-spacing: 2px;
        }
      }
  
      .poster {
        max-width: 80%;
        img {
          width: 100%;
        }
      }

    }
  }
}