@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
  background-color: #dde1d4;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  width: 60vw;
  height: 65vh;
  grid-template:
    'first second' 1fr
    'third fourth' 1fr / 1fr 1fr;
  background-color: #fff;
}

.first {
  color: #f14011;
  grid-area: first;
  background-color: #dae7de;
}

.second {
  color: #fff;
  grid-area: second;
  background-color: #008a69;
}

.third {
  color: #fff;
  grid-area: third;
  background-color: #f14011;
}

.first,
.second,
.third {
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth {
  grid-area: fourth;
  display: grid;
  grid-template:
    'fourth_1 fourth_2' 1fr
    'fourth_3 fourth_4' 1fr / 1fr 1fr;
}

.fourth_1 {
  grid-area: fourth_1;
  background-color: #f7abc5;
  color: #f14011;
}

.fourth_2 {
  grid-area: fourth_2;
  background-color: #5f5fa9;
  color: #fff;
}

.fourth_3 {
  grid-area: fourth_3;
  background-color: #ffc128;
  color: #f14011;
}

.fourth_4 {
  grid-area: fourth_4;
  background-color: #f97374;
  color: #fff;
}

.fourth_1,
.fourth_2,
.fourth_3,
.fourth_4 {
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nomad solutioln */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  padding:15px;
  font-family: 'Itim', cursive;
  width: 100%;
  height: 100vh;
  margin:0 auto;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows:repeat(4, 1fr);
}

div {
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
}

div:first-child,
div:nth-child(2),
div:nth-child(3) {
  grid-column:span 2;
  grid-row:span 2;
  font-size:48px;
}


div:first-child {
background-color:#DAE7DE;
color:#F4440A;
}

div:nth-child(2){
background-color:#008A69;
color:#FDFDFD;
}

div:nth-child(3){
background-color:#F44607;
color:#FDFDFD;
}

div:nth-child(4){
  background-color:#F7ABC4;
  color:#F4440A;
}

div:nth-child(5){
  background-color:#5F5FA9;
  color:#FDFDFD;
}

div:nth-child(6){
  background-color:#FFC128;
  color:#F4440A;
}

div:nth-child(7){
  background-color:#F97374;
  color:#FDFDFD;
} */
